/*student life css*/

.slidey-title {
	padding-left: 80px;
	padding-right: 80px;
} 
.slidey-title a{
            cursor: url("../images/plus.png") 40 40, crosshair;
            -webkit-transition: all .4s ease-in-out;
               -moz-transition: all .4s ease-in-out;
                -ms-transition: all .4s ease-in-out;
                 -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
}
.slidey-title h1 {
    font-family: Helvetica,sans-serif;
    font-size: 64px;
    font-weight: 300;
    line-height: 76px;
    text-transform: uppercase;
}
.slidey-title h3 {
	margin-top: 10px;
}
.slidey-title h3 > span {
    font-family: Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
}

/*SLIDEYS*/
.left1{
	background-image:url(http://images/girl_studying.jpg) !important;
    background-size: cover;
}
.left2{
	background-image:url(http://images/snow_sunset.jpg) !important;
    background-size: cover;
}
.left3{
	background-image:url(http://images/waterfall.jpg) !important;
    background-size: cover;
}
.left4{
    background-image:url(http://images/writing.jpg) !important;
    background-size: cover;
}

/*SLIDEYS*/
.right1{
	background-image:url(http://images/bench.jpg) !important;
    background-size: cover;
}
.right2{
	background-image:url(http://images/coffee_studying.jpg) !important;
    background-size: cover;
}
.right3{
	background-image:url(http://images/campus_1.jpg) !important;
    background-size: cover;
}
.right4{
    background-image:url(http://images/classroom.jpg) !important;
    background-size: cover;
}